.navbar-brand img
{
  height: 50px;
  width: auto;
}

#slider .block h1
{
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 1.5em;
  padding-bottom: 0;
}

#slider .block p
{
  line-height: 1.5em;
  letter-spacing: 0px;
}

.section-title h2
{
  text-transform: none;
}
