<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>CoderDojo 熊野は毎月第2日曜日に開催しています。</h2>
          <p>CoderDojo 熊野では、道場開催のお知らせや各種のご案内を Facebook ページで行なっています。<br>ぜひ「いいね」をお願いします。</p>
          <a class="btn btn-default btn-call-to-action" href="https://www.facebook.com/coderdojo.kumano/" >CoderDojo 熊野の Facebooke ページ</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="https://github.com/coderdojo-kumano">GitHub</a></li>
          </ul>
        </div>
        <p>Copyright &copy; <a href="https://coderdojo-kumano.github.io/">CoderDojo Kumano</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<div class="forkme">
<a href="https://github.com/coderdojo-kumano/coderdojo-kumano.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</div>
